# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Load Files
file = "output_data/cities.csv"

# Read School and Student Data File and store into Pandas Data Frames
df = pd.read_csv(file)
df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Zhuhai,22.28,113.57,80.60,94,20,8.05,CN,1587195371
1,1,Pevek,69.70,170.31,-0.29,91,2,7.74,RU,1587195372
2,2,Codrington,-38.27,141.97,55.92,73,100,4.70,AU,1587195372
3,3,Acapulco de Juárez,16.86,-99.89,77.00,78,5,3.44,MX,1587195348
4,4,Lüderitz,-26.65,15.16,66.99,56,0,7.63,NaN,1587195372

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [139]:
gmaps.configure(api_key=g_key)

# Store latitude and longitude in locations
locations = df[["Lat", "Lng"]]

# Fill NaN values and convert to float
humidity = df["Humidity"].astype(float)

# Plot Heatmap
figure_layout = {
    'width': '900px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}


fig = gmaps.figure(layout= figure_layout)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=1)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [27]:
new_df = df[df["Max Temp"] < 80]
new_df = new_df[new_df["Max Temp"] > 70]
new_df = new_df[new_df["Wind Speed"] < 10]
new_df = new_df[new_df["Cloudiness"] == 0]
new_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
8,8,Avarua,-21.21,-159.78,73.40,88,0,2.24,CK,1587195373
258,258,Richards Bay,-28.78,32.04,77.76,62,0,7.25,ZA,1587195225
281,281,Middelburg,-25.78,29.46,71.37,25,0,5.50,ZA,1587195230
296,296,Kiryat Gat,31.61,34.76,72.00,24,0,1.01,IL,1587195445
311,311,Tomatlán,19.93,-105.25,71.20,54,0,4.74,MX,1587195449
349,349,Manbij,36.53,37.95,71.60,40,0,4.70,SY,1587195247
368,368,Abu Samrah,35.30,37.18,75.90,27,0,2.37,SY,1587195463
377,377,Nurota,40.56,65.69,73.40,33,0,6.93,UZ,1587195254

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [51]:
hotel_df = new_df
hotel_df["Hotel Name"] = ""
hotel_df["Hotel Lat"] = ""
hotel_df["Hotel Lng"] = ""
hotel_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name,Hotel Lat,Hotel Lng
8,8,Avarua,-21.21,-159.78,73.40,88,0,2.24,CK,1587195373,,,
258,258,Richards Bay,-28.78,32.04,77.76,62,0,7.25,ZA,1587195225,,,
281,281,Middelburg,-25.78,29.46,71.37,25,0,5.50,ZA,1587195230,,,
296,296,Kiryat Gat,31.61,34.76,72.00,24,0,1.01,IL,1587195445,,,
311,311,Tomatlán,19.93,-105.25,71.20,54,0,4.74,MX,1587195449,,,
349,349,Manbij,36.53,37.95,71.60,40,0,4.70,SY,1587195247,,,
368,368,Abu Samrah,35.30,37.18,75.90,27,0,2.37,SY,1587195463,,,
377,377,Nurota,40.56,65.69,73.40,33,0,6.93,UZ,1587195254,,,

In [110]:
# find the hotel of each coordinates

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():

    # get city and coordinates from df
    city = row['City']
    lat = row['Lat']
    lng = row['Lng']
    
    print(f"Retrieving Results for Index {index}: {city}.")
    
    # assemble url and make API request  
    response = requests.get(f"{base_url}?location={lat},{lng}&radius=5000&rankby=prominence&\
                            type=lodging&keyword=hotel&key={g_key}").json()

    # extract results
    results = response['results']

    try:
        print(f"First hotel in {city} is {results[0]['name']}.")
        
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
        hotel_df.loc[index, 'Hotel Lat'] = results[0]['geometry']['location']['lat']
        hotel_df.loc[index, 'Hotel Lng'] = results[0]['geometry']['location']['lng']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
print("------------")

Retrieving Results for Index 8: Avarua.
First hotel in Avarua is The Edgewater Resort and Spa.
Retrieving Results for Index 258: Richards Bay.
First hotel in Richards Bay is Splendid Inn Bayshore.
Retrieving Results for Index 281: Middelburg.
First hotel in Middelburg is Alveston Manor Small Hotel.
Retrieving Results for Index 296: Kiryat Gat.
First hotel in Kiryat Gat is Desert Gat.
Retrieving Results for Index 311: Tomatlán.
First hotel in Tomatlán is Hotel Misión San Miguel.
Retrieving Results for Index 349: Manbij.
First hotel in Manbij is Manbej City Hotel.
Retrieving Results for Index 368: Abu Samrah.
Missing field/result... skipping.
Retrieving Results for Index 377: Nurota.
First hotel in Nurota is Guest House Ruslan Nurata & Tours.
------------

In [123]:
hotel_df2 = hotel_df[hotel_df["Hotel Name"] != ""]
hotel_df2

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name,Hotel Lat,Hotel Lng
8,8,Avarua,-21.21,-159.78,73.40,88,0,2.24,CK,1587195373,The Edgewater Resort and Spa,-21.2172,-159.83
258,258,Richards Bay,-28.78,32.04,77.76,62,0,7.25,ZA,1587195225,Splendid Inn Bayshore,-28.7914,32.0933
281,281,Middelburg,-25.78,29.46,71.37,25,0,5.50,ZA,1587195230,Alveston Manor Small Hotel,-25.7995,29.4431
296,296,Kiryat Gat,31.61,34.76,72.00,24,0,1.01,IL,1587195445,Desert Gat,31.603,34.7637
311,311,Tomatlán,19.93,-105.25,71.20,54,0,4.74,MX,1587195449,Hotel Misión San Miguel,19.9419,-105.248
349,349,Manbij,36.53,37.95,71.60,40,0,4.70,SY,1587195247,Manbej City Hotel,36.5271,37.9511
377,377,Nurota,40.56,65.69,73.40,33,0,6.93,UZ,1587195254,Guest House Ruslan Nurata & Tours,40.5589,65.6791

In [140]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name

locations = hotel_df2[["Hotel Lat", "Hotel Lng"]]
markers = gmaps.marker_layer(locations, 
                             info_box_content=[info_box_template.format(**row) for index, row in hotel_df2.iterrows()])

In [141]:
# Add marker layer ontop of heat map
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…